html {
    font-family: "Hasklig", "Lucida Console", monospace;
    font-size: 1.0em;
}

p {
    margin: 0em 0em 0.5em 0em;
}

a {
    color: #000;
}

pre {
    background: #f1f1f1;
    padding: 10px;
    overflow-x: scroll;
}

.logo img {
    display: none;
}

.logo {
    padding: 1em;
    position: fixed;
    top: 1em;
    right: 1em;
}

.args {
  background-color: #f1f1f1;
  padding: 3px;
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  white-space: normal;
}

ul {
    list-style-type: none;
    line-height: 1.6em;
}

.title {
    font-size: 1.5em;
}

.content {
    margin: 3em auto auto auto;
    width: 70%;
    max-width: 650px;
}

.module-description {
    padding-bottom: 0.5em;
    margin-bottom: 3.5em;
    border-bottom: 5px solid #aaa;
}

h1 {
    margin-bottom: 1.5em;
}

h3 {
    margin: 0em;
}

.anchor {
    color: #000;
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.binder {
    margin: 0em 0em 3.5em 0em;
}

.sig {
  font-family: "Hasklig", "Lucida Console", monospace;
  background-color: #f1f1f1;
}

code {
  font-family: "Hasklig", "Lucida Console", monospace;
  background-color: #f1f1f1;
}

.description {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    color: #aaa;
}

/* Smaller screens */
@media only screen and (max-width: 1000px) {
    .logo {
        margin: 1em;
        text-align: left;
        float: left;
        width: 100%;
        position: inherit;
    }
    .content {
        margin: 0.5em;
    }
    .binder {
        margin: 0em 0em 1.5em 0em;
    }
    .sig {
        font-size: 0.9em;
    }
    ul {
        padding: 0px;
    }
}
